.con {
    backdrop-filter: blur(30px);
    box-shadow:0 0 30px rgba(227, 228, 237, 0.37);
    border: 4px dotted;
    color: azure;
    border-radius: 20px;    
    /* margin-right: 150px; 
    margin-left: 150px;  */
    padding: 50px;
    }



@media only screen and (max-width: 600px) {
    .form {
        width: 400px;
    }
    .mar {
        margin-right: 50px;
        margin-left: 10px;
    }
    .con {
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 10px;
    }
  }

    @media screen and (min-width: 768px) {
        //For Laptops
            .con {
                    margin-right: 150px; 
                    margin-left: 150px;
                     
            }
            .form {
                width: 1100px;
            }
            
        }
        
        @media screen and (min-width: 992px) {
        //For Large Laptops
        .con {
            margin-right: 150px; 
            margin-left: 150px; 
        }
        .form {
            width: 1100px;
        }
    }
        
        @media screen and (min-width: 1280px) {
        
        .con {
            margin-right: 150px; 
            margin-left: 150px; 
        }
        .form {
            width: 1120px;
        }
    }
        
        
        @media screen and (min-width: 1920px) {
        //For Projectors or Higher Resolution Screens (Full HD)
        .con {
            margin-right: 150px; 
            margin-left: 150px; 
        }
        .form {
            width: 1120px;
        }
        }
        @media screen and (min-width: 3840px) {
        //For 4K Displays (Ultra HD)
        .con {
            margin-right: 150px; 
            margin-left: 150px; 
    }
    .form {
        width: 1120px;
    }
        }